.btn{
    background-color: #c6dfcd;
    width: 150px;
    height: 40px;
    /* color: white; */
    margin-top: 10px;
    
}
.btn:hover{
    cursor: pointer;
    background-color: #d9ebde;
}
input{
    margin-top: 20px;
}
span{
    display: block;
}